<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C</key>
	<dict>
		<key>public.kern2.e</key>
		<integer>-20</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>public.kern2.e</key>
		<integer>-30</integer>
		<key>public.kern2.n</key>
		<integer>-30</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>public.kern2.e</key>
		<integer>-30</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>public.kern2.c</key>
		<integer>-20</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>public.kern2.e</key>
		<integer>-50</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>public.kern2.e</key>
		<integer>0</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>public.kern2.e</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.A</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-20</integer>
		<key>public.kern2.T</key>
		<integer>-60</integer>
		<key>public.kern2.V</key>
		<integer>-80</integer>
		<key>public.kern2.e</key>
		<integer>-10</integer>
		<key>public.kern2.v</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.O</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-20</integer>
		<key>public.kern2.V</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.T</key>
	<dict>
		<key>O</key>
		<integer>0</integer>
		<key>public.kern2.A</key>
		<integer>-90</integer>
		<key>public.kern2.c</key>
		<integer>-50</integer>
		<key>public.kern2.e</key>
		<integer>-90</integer>
		<key>public.kern2.n</key>
		<integer>-108</integer>
		<key>public.kern2.p</key>
		<integer>-90</integer>
		<key>public.kern2.v</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.V</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-70</integer>
		<key>public.kern2.O</key>
		<integer>-20</integer>
		<key>public.kern2.e</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.c</key>
	<dict>
		<key>public.kern2.c</key>
		<integer>10</integer>
		<key>public.kern2.e</key>
		<integer>-10</integer>
		<key>public.kern2.v</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.e</key>
	<dict>
		<key>public.kern2.c</key>
		<integer>-10</integer>
		<key>public.kern2.v</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.f</key>
	<dict>
		<key>public.kern2.c</key>
		<integer>-10</integer>
		<key>public.kern2.e</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.v</key>
	<dict>
		<key>public.kern2.c</key>
		<integer>-10</integer>
		<key>public.kern2.e</key>
		<integer>-30</integer>
		<key>public.kern2.v</key>
		<integer>-10</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>a</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
